<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title class="title">
      TASK MASTER
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--Pending Tasks Section-->

<ion-content [fullscreen]="true">
  <ion-toolbar *ngIf="incompleteTasks.length>0" color="light" class="ion-text-center">
    <ion-title>
      Pending Tasks
    </ion-title>
  </ion-toolbar>

  <div *ngIf="incompleteTasks">
    <ion-list *ngFor="let task of incompleteTasks">
      <ion-item-sliding *ngIf="task.completed==false">

        <ion-item>
          <ion-checkbox checked={{task.completed}}
            (click)="update(task.taskId!)">{{task.title}}</ion-checkbox>
          <ion-label>
            {{task.completed}}</ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option>
            <ion-icon slot="icon-only" name="trash" (click)="delete(task.taskId!)"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <!--Completed Tasks Section-->

  <div *ngIf="completedTasks.length>0">
    <ion-toolbar color="light" class="ion-text-center">
      <ion-title>
        Completed Tasks
      </ion-title>
    </ion-toolbar>
    <ion-list>
      <ion-item-sliding *ngFor="let t of completedTasks">
        <ion-item>
          <ion-checkbox checked="true" (click)="update(t.taskId!)">{{t.title}}</ion-checkbox>
          <ion-label>{{t.completed}}</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option>
            <ion-icon slot="icon-only" name="trash" (click)="delete(t.taskId!)"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>


  <!--Add Task Floating Button-->

<div class="footer"> 
  <ion-fab horizontal="end" vertical="bottom" class="footer">
    <ion-fab-button color="dark" (click)="addTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>
  

</ion-content>
