<ion-header>
  <ion-toolbar color="success" class="ion-text-center">
    <ion-title class="title">
      TASK MASTER
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-content>

<!-- <h1>Incomplete Tasks</h1>
<a [routerLink]="['new']">Create New Coffee</a>
<div *ngIf="tasksList">
    <div *ngFor="let task of tasksList">
        <h2>{{coffee.name}} - ${{coffee.price}}</h2>
        <p>{{coffee.description}}</p>
        
        <hr>
    </div>
</div> -->